 html{
  height: 100%;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header{
  
  height: 118px;
  text-align: center;
}
nav{
  background-color: rgba(0, 0, 0, 0.336);
text-align: center;
padding-top: 14px;
padding-bottom: 14px;
}
/* main{
  
  height: 400px;
  text-align: center;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 470px;
} */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  text-align: center;
}
h1{
  font-size: 0px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer p{
  font-size: 15px;
  color:white;
  font-family: sans-serif;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
nav a{
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #2F3035;
  background-image: url(image/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/*.sidebar {
  margin: 0;
  margin-top: 40px;
  padding: 30px;
  width: 200px;
  background-color: rgb(0, 0, 0,0.336);
  overflow: auto;
}

.sidebar moyo {
  display: block;
  color: whitesmoke;
  padding: 16px;
  text-decoration: none;
  font-size: large;
}
 
.sidebar a.active {
  background-color: #2F30;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/

button{
  background-color: #555;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal_container{
  background-color: rgb(0, 0, 0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  transition: opacity 0.3s ease;
}

.modal-container.show{
  pointer-events: auto;
  opacity: 1;
}

.modal{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.modal h1{
  margin: 0;
}

.modal p{
  font-size: 14px;
  opacity: 0.7;
}



